<!DOCTYPE html>
<html lang="en">

<head>
     <!-- Meta tags  -->
     <meta charset="UTF-8" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />

     <title>Xenesis | Student Details</title>

     <script src="/static/tailwind.js"></script>
     <link rel="stylesheet" href="/static/tailwind.css">
     <link rel="icon" type="image/png" href="/static/ldrp.png" />

     <!-- CSS Assets -->
     <link rel="stylesheet" href="/static/css/app.css" />
     <link rel="stylesheet" href="/static/css/style.css">

     <!-- Javascript Assets -->
     <script src="/static/js/app.js" defer></script>

     <!-- Javascript Third Party Libraries: Components -->
     <script src="/static/js/libs/components.js" defer></script>

     <!-- Special script for current page -->
     <script src="/static/js/pages/dashboards-crm-analytics.js"></script>

     <!-- PrintJS Script -->
     <script src=" https://printjs-4de6.kxcdn.com/print.min.js"></script>

     <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>

     <!-- Bootstrap Icons Link -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

     <!-- Fonts -->
     <link rel="preconnect" href="https://fonts.googleapis.com" />
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
     <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />
     <script>
          /**
           * THIS SCRIPT REQUIRED FOR PREVENT FLICKERING IN SOME BROWSERS
           */
          localStorage.getItem("dark-mode") === "dark" &&
               document.documentElement.classList.add("dark");
     </script>

     <style>
          datalist::-webkit-scrollbar {
               display: none;
          }

          #event-dropdown option {
               font-size: 1.8em;
               padding: 0.3em 1em;
               background-color: #ccc;
               cursor: pointer;
          }
     </style>
</head>

<body class="is-header-blur">
     <!-- App preloader-->
     <div class="app-preloader fixed z-50 grid h-full w-full place-content-center bg-slate-50 dark:bg-navy-900">
          <div class="app-preloader-inner relative inline-block h-48 w-48"></div>
     </div>

     <!-- Page Wrapper -->
     <div id="root" class="min-h-100vh cloak flex grow bg-slate-50 dark:bg-navy-900">
          <!-- Sidebar -->
          <div class="sidebar print:hidden">
               <!-- Main Sidebar -->
               <div class="main-sidebar">
                    <div
                         class="flex h-full w-full flex-col items-center border-r border-slate-150 bg-white dark:border-navy-700 dark:bg-navy-800">
                         <!-- Application Logo -->
                         <div class="flex pt-4">
                              <a href="/">
                                   <img class="h-11 w-11 transition-all duration-300 ease-in-out hover:scale-110"
                                        src="/static/ldrp.png" alt="logo" />
                              </a>
                         </div>
                         <!-- Main Sections Links -->
                         <div class="is-scrollbar-hidden flex grow flex-col space-y-4 overflow-y-auto pt-6">
                              <!-- Dashobards -->
                              <a href="/dashboard" data-tooltip="Dashboards" data-placement="right"
                                   class="tooltip-main-sidebar flex h-11 w-11 items-center justify-center rounded-lg outline-none transition-colors duration-200 hover:bg-primary/20 focus:bg-primary/20 active:bg-primary/25 dark:bg-navy-600 dark:hover:bg-navy-450 dark:focus:bg-navy-450 dark:active:bg-navy-450/90">
                                   <svg class="h-7 w-7" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5 14.0585C5 13.0494 5 12.5448 5.22166 12.1141C5.44333 11.6833 5.8539 11.3901 6.67505 10.8035L10.8375 7.83034C11.3989 7.42938 11.6795 7.2289 12 7.2289C12.3205 7.2289 12.6011 7.42938 13.1625 7.83034L17.325 10.8035C18.1461 11.3901 18.5567 11.6833 18.7783 12.1141C19 12.5448 19 13.0494 19 14.0585V19C19 19.9428 19 20.4142 18.7071 20.7071C18.4142 21 17.9428 21 17 21H7C6.05719 21 5.58579 21 5.29289 20.7071C5 20.4142 5 19.9428 5 19V14.0585Z"
                                             fill-opacity="0.3" class="fill-slate-500 dark:fill-accent" />
                                        <path d="M3 12.3866C3 12.6535 3 12.7869 3.0841 12.8281C3.16819 12.8692 3.27352 12.7873 3.48418 12.6234L10.7721 6.95502C11.362 6.49625 11.6569 6.26686 12 6.26686C12.3431 6.26686 12.638 6.49625 13.2279 6.95502L20.5158 12.6234C20.7265 12.7873 20.8318 12.8692 20.9159 12.8281C21 12.7869 21 12.6535 21 12.3866V11.9782C21 11.4978 21 11.2576 20.8983 11.0497C20.7966 10.8418 20.607 10.6944 20.2279 10.3995L13.2279 4.95502C12.638 4.49625 12.3431 4.26686 12 4.26686C11.6569 4.26686 11.362 4.49625 10.7721 4.95502L3.77212 10.3995C3.39295 10.6944 3.20337 10.8418 3.10168 11.0497C3 11.2576 3 11.4978 3 11.9782V12.3866Z"
                                             class="fill-slate-500 dark:fill-accent" />
                                        <path d="M12.5 15H11.5C10.3954 15 9.5 15.8954 9.5 17V20.85C9.5 20.9328 9.56716 21 9.65 21H14.35C14.4328 21 14.5 20.9328 14.5 20.85V17C14.5 15.8954 13.6046 15 12.5 15Z"
                                             class="fill-slate-500 dark:fill-accent" />
                                        <rect x="16" y="5" width="2" height="4" rx="0.5"
                                             class="fill-slate-500 dark:fill-accent" />
                                   </svg>
                              </a>

                              <!-- Apps -->
                              <a href="/dashboard/data" data-tooltip="Applications" data-placement="right"
                                   class="tooltip-main-sidebar flex h-11 w-11 items-center justify-center rounded-lg bg-primary/10 outline-none transition-colors duration-200 hover:bg-primary/20 focus:bg-primary/20 active:bg-primary/25 dark:hover:bg-navy-300/20 dark:focus:bg-navy-300/20 dark:active:bg-navy-300/25">
                                   <svg class="h-7 w-7" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5 8H19V16C19 17.8856 19 18.8284 18.4142 19.4142C17.8284 20 16.8856 20 15 20H9C7.11438 20 6.17157 20 5.58579 19.4142C5 18.8284 5 17.8856 5 16V8Z"
                                             class="fill-primary dark:fill-navy-200" fill-opacity="0.3" />
                                        <path d="M12 8L11.7608 5.84709C11.6123 4.51089 10.4672 3.5 9.12282 3.5V3.5C7.68381 3.5 6.5 4.66655 6.5 6.10555V6.10555C6.5 6.97673 6.93539 7.79026 7.66025 8.2735L9.5 9.5"
                                             class="stroke-slate-500 dark:stroke-navy-200" stroke-linecap="round" />
                                        <path d="M12 8L12.2392 5.84709C12.3877 4.51089 13.5328 3.5 14.8772 3.5V3.5C16.3162 3.5 17.5 4.66655 17.5 6.10555V6.10555C17.5 6.97673 17.0646 7.79026 16.3397 8.2735L14.5 9.5"
                                             class="stroke-slate-500 dark:stroke-navy-200" stroke-linecap="round" />
                                        <rect x="4" y="8" width="16" height="3" rx="1"
                                             class="fill-primary dark:fill-navy-200" />
                                        <path d="M12 11V15" class="stroke-slate-500 dark:stroke-navy-200"
                                             stroke-linecap="round" />
                                   </svg>
                              </a>

                              <!-- Event List -->
                              <a href="/dashboard/events" data-tooltip="Events List" data-placement="right"
                                   class="tooltip-main-sidebar flex h-11 w-11 items-center justify-center rounded-lg outline-none transition-colors duration-200 hover:bg-primary/20 focus:bg-primary/20 active:bg-primary/25 dark:hover:bg-navy-300/20 dark:focus:bg-navy-300/20 dark:active:bg-navy-300/25">
                                   <svg class="h-7 w-7" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path class="fill-slate-500 dark:fill-accent" d="M9.85714 3H4.14286C3.51167 3 3 3.51167 3 4.14286V9.85714C3 10.4883 3.51167 11 4.14286 11H9.85714C10.4883 11 11 10.4883 11 9.85714V4.14286C11 3.51167 10.4883 3 9.85714 3Z">
                                        </path>
                                        <path class="fill-slate-500 dark:fill-accent" d="M9.85714 12.8999H4.14286C3.51167 12.8999 3 13.4116 3 14.0428V19.757C3 20.3882 3.51167 20.8999 4.14286 20.8999H9.85714C10.4883 20.8999 11 20.3882 11 19.757V14.0428C11 13.4116 10.4883 12.8999 9.85714 12.8999Z" fill-opacity="0.3">
                                        </path>
                                        <path class="fill-slate-500 dark:fill-accent" d="M19.757 3H14.0428C13.4116 3 12.8999 3.51167 12.8999 4.14286V9.85714C12.8999 10.4883 13.4116 11 14.0428 11H19.757C20.3882 11 20.8999 10.4883 20.8999 9.85714V4.14286C20.8999 3.51167 20.3882 3 19.757 3Z" fill-opacity="0.3">
                                        </path>
                                        <path class="fill-slate-500 dark:fill-accent" d="M19.757 12.8999H14.0428C13.4116 12.8999 12.8999 13.4116 12.8999 14.0428V19.757C12.8999 20.3882 13.4116 20.8999 14.0428 20.8999H19.757C20.3882 20.8999 20.8999 20.3882 20.8999 19.757V14.0428C20.8999 13.4116 20.3882 12.8999 19.757 12.8999Z" fill-opacity="0.3">
                                        </path>
                                   </svg>
                              </a>
                         </div>
                    </div>
               </div>
          </div>

          <!-- App Header Wrapper-->
          <nav class="header print:hidden" style="z-index: 50;">
               <!-- App Header  -->
               <div class="header-container relative flex w-full bg-white dark:bg-navy-700 print:hidden">
                    <!-- Header Items -->
                    <div class="flex w-full items-center justify-between">
                         <!-- Mobile Search Toggle -->
                         <button
                              class="mobile-searchbar-show btn h-8 w-8 rounded-full p-0 hover:bg-slate-300/20 focus:bg-slate-300/20 active:bg-slate-300/25 dark:hover:bg-navy-300/20 dark:focus:bg-navy-300/20 dark:active:bg-navy-300/25 sm:hidden">
                              <svg xmlns="http://www.w3.org/2000/svg"
                                   class="h-5.5 w-5.5 text-slate-500 dark:text-navy-100" fill="none" viewBox="0 0 24 24"
                                   stroke="currentColor" stroke-width="1.5">
                                   <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                              </svg>
                         </button>

                         <!-- Main Searchbar -->
                         <div id="searchbar-wrapper" class="hidden sm:flex">
                         </div>

                         <!-- Right: Header buttons -->
                         <div class="-mr-1.5 flex items-center space-x-2">

                              <!-- Export to excel -->
                              <button class="bg-[#4f46e5] px-3 py-2 rounded-lg text-white flex" onclick="exportToExcel('xenesis-student-data-'+new Date().toLocaleString().replace(',','-').replace(' ','-').replace('--','-'))">
                                   <i class="bi bi-file-earmark-excel sm:mr-2"></i>
                                   <span class="hidden sm:block">Export to Excel</span>
                              </button>

                              <!-- Export to PDF -->
                              <button class="bg-[#4f46e5] px-3 py-2 rounded-lg text-white flex" onclick="exportToPDF()">
                                   <i class="bi bi-file-earmark-pdf sm:mr-2"></i>
                                   <span class="hidden sm:block">Export to PDF</span>
                              </button>

                              <!-- Dark Mode Toggle -->
                              <button
                                   class="darkmode-toggle btn h-8 w-8 rounded-full p-0 hover:bg-slate-300/20 focus:bg-slate-300/20 active:bg-slate-300/25 dark:hover:bg-navy-300/20 dark:focus:bg-navy-300/20 dark:active:bg-navy-300/25">
                                   <svg class="darkmode-moon h-6 w-6 text-amber-400" fill="currentColor"
                                        viewBox="0 0 24 24">
                                        <path
                                             d="M11.75 3.412a.818.818 0 01-.07.917 6.332 6.332 0 00-1.4 3.971c0 3.564 2.98 6.494 6.706 6.494a6.86 6.86 0 002.856-.617.818.818 0 011.1 1.047C19.593 18.614 16.218 21 12.283 21 7.18 21 3 16.973 3 11.956c0-4.563 3.46-8.31 7.925-8.948a.818.818 0 01.826.404z" />
                                   </svg>
                                   <svg xmlns="http://www.w3.org/2000/svg" class="darkmode-sun h-6 w-6 text-amber-400"
                                        viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd"
                                             d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                                             clip-rule="evenodd" />
                                   </svg>
                              </button>

                              <!-- Monochrome Mode Toggle -->
                              <button class="monochrome-toggle btn h-8 w-8 rounded-full p-0 hover:bg-slate-300/20 focus:bg-slate-300/20 active:bg-slate-300/25 dark:hover:bg-navy-300/20 dark:focus:bg-navy-300/20 dark:active:bg-navy-300/25">
                                   <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 512 512"><path d="M512 256c0 .9 0 1.8 0 2.7c-.4 36.5-33.6 61.3-70.1 61.3H344c-26.5 0-48 21.5-48 48c0 3.4 .4 6.7 1 9.9c2.1 10.2 6.5 20 10.8 29.9c6.1 13.8 12.1 27.5 12.1 42c0 31.8-21.6 60.7-53.4 62c-3.5 .1-7 .2-10.6 .2C114.6 512 0 397.4 0 256S114.6 0 256 0S512 114.6 512 256zM128 288a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zm0-96a32 32 0 1 0 0-64 32 32 0 1 0 0 64zM288 96a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zm96 96a32 32 0 1 0 0-64 32 32 0 1 0 0 64z"/></svg>
                              </button>
                         </div>
                    </div>
               </div>
          </nav>

          <!-- Main Content Wrapper -->
          <main class="main-content w-full py-8 lg:px-16 md:px-10 sm:px-8 px-4">
               <div class="card w-full mx-auto px-4 sm:px-6 border pt-5 sm:pt-8">
                    <div class="flex items-end sm:items-center sm:justify-between flex-col sm:flex-row lg:w-[calc(100%-250px)] w-full py-2 -mb-4 gap-4 sm:gap-10 sm:pr-0 pr-4 relative z-20">
                         <h2 class="font-medium tracking-wide text-slate-700 line-clamp-1 dark:text-navy-100 lg:text-base">Student Details</h2>
                         <div class="flex flex-row gap-2">
                              <select id="departments" onchange="eventUpdater(this)" class="border z-30 px-3 py-2 rounded-lg !outline-none bg-transparent">
                                   <option disabled selected>Select Department</option>
                                   {%for department in departmentArr%}
                                   <option value="{{department}}">{{department}}</option>
                                   {%endfor%}
                              </select>

                              <select id="events" onchange="dataUpdater(this)" class="border z-30 px-3 py-2 rounded-lg !outline-none bg-transparent">
                                   <option disabled selected>Select Event</option>
                              </select>
                         </div>
                    </div>
                    <div id="table" class="lg:-translate-y-8 translate-y-5 z-10"></div>
               </div>
          </main>
     </div>
     <script>
          function eventUpdater(element)
          {
               department = element.value
               fetch("/dashboard/tableData?type=event&department=" + department)
               .then(res=>res.json())
               .then(data=>{
                    events = data["events"]
                    users = data["users"]
                    html = "<option disabled selected>Select Event</option>"
                    for (let i = 0; i < events.length; i++) {
                         const element = events[i];
                         html += "<option value='"+element+"'>"+element+"</option>"
                    }
                    document.getElementById("events").innerHTML = html
                    grid.updateConfig({
                    data: users
                    }).forceRender();
               })
          }
          function dataUpdater(element)
          {
               event = element.value
               fetch("/dashboard/tableData?type=final&event=" + event)
               .then(res=>res.json())
               .then(data=>{
                    users = data["users"]
                    grid.updateConfig({
                    data: users
                    }).forceRender();
               })
          }
     </script>
     <script type="text/Javascript">
          // Grid JS Script
          let grid = new gridjs.Grid({
               columns: ["ID","Name", "Email", "Phone Number","Department","Event","Paid", "College"],
               search: true,
               sort: true,
               pagination: {
                    limit: 100
               },
               data: () => {
                    return new Promise(resolve => {
                         setTimeout(() =>{
                              fetch("/dashboard/tableData?type=all")
                              .then(res=>res.json())
                              .then(data=>{
                                   users = data["users"]
                                   grid.updateConfig({
                                   data: users
                                   }).forceRender();
                              })
                         }, 2000);
                    });
               },
               className: {
                    table: 'table-body'
               },
               language: {
                    'search': {
                         'placeholder': 'Search name'
                    },
                    'pagination': {
                         'previous': '',
                         'next': '',
                         'showing': 'Displaying',
                         'results': () => 'Records'
                    }
               }
          }).render(document.getElementById("table"))
     </script>

     <!-- Print PDF | Excel -->
     <script type="text/Javascript">

          function exportToExcel(filename = '') {
               grid.updateConfig({
                    pagination: {
                         limit: 10000
                    },
               }).forceRender();
               setTimeout(() => {
                    var downloadLink;
                    var dataType = 'application/vnd.ms-excel';
                    var tableSelect = document.getElementById('table');
                    var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
                    // Specify file name
                    filename = filename?filename+'.xls':'excel_data.xls';
                    
                    // Create download link element
                    downloadLink = document.createElement("a");
                    
                    document.body.appendChild(downloadLink);
                    
                    if(navigator.msSaveOrOpenBlob){
                         var blob = new Blob(['\ufeff', tableHTML], { type: dataType });
                         navigator.msSaveOrOpenBlob( blob, filename);
                    } else {
                         downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
                    
                         downloadLink.download = filename;
                         
                         downloadLink.click();
                    }
               }, 2000);
               
               setTimeout(() => {
                    grid.updateConfig({
                         pagination: {
                              limit: 100
                         },
                    }).forceRender();
               }, 3000);
               
          }

          function exportToPDF() {
               grid.updateConfig({
                    pagination: {
                         limit: 10000
                    },
               }).forceRender();
               setTimeout(() => {
                    printJS({printable: 'table', type: 'html', css: ['./static/tailwind.css', './static/css/app.css'], targetStyles: ['*']})
               }, 2000);
               setTimeout(() => {
                    grid.updateConfig({
                         pagination: {
                              limit: 100
                         },
                    }).forceRender();
               }, 3000);
          }
     </script>

     <script type="text/Javascript">
          // see how to use at the end of the script
          const domParser = new DOMParser();
          const dataList = {
          el:document.querySelector('.data-list'),
          listEl:document.querySelector('.option-list'),
          arrow:document.querySelector(".searchable-list>svg"),
          currentValue:null,
          listOpened :false,
          optionTemplate:
          `
          <li
                    class='data-option select-none break-words inline-block text-sm text-gray-500 bg-gray-100 odd:bg-gray-200 hover:bg-gray-300 hover:text-gray-700 transition-all duration-200 font-bold p-3 cursor-pointer max-w-full '>
                         [[REPLACEMENT]]
          </li>
          `,
          optionElements:[],
          options:[], 
          find(str){
               for(let i = 0;i<dataList.options.length;i++){
                    const option = dataList.options[i];
                    if(!option.toLowerCase().includes(str.toLowerCase())){
                         dataList.optionElements[i].classList.remove('block');
                         dataList.optionElements[i].classList.add('hidden');
                    }else{
                         dataList.optionElements[i].classList.remove('hidden');
                         dataList.optionElements[i].classList.add('block');
                    }
               }
          },  
          remove(value){
               const foundIndex = dataList.options.findIndex(v=>v===value);
               if(foundIndex!==-1){
                    dataList.listEl.removeChild(dataList.optionElements[foundIndex])
                    dataList.optionElements.splice(foundIndex,1);
                    dataList.options.splice(value,1);
               }
          },
          append(value){    
               if(!value || typeof value === 'object' || typeof value === 'symbol' || typeof value ==='function') return;
               value = value.toString().trim();
               if(value.length === 0) return; 
               if(dataList.options.includes(value)) return;

               const html = dataList.optionTemplate.replace('[[REPLACEMENT]]',value);
               const targetEle = domParser.parseFromString(html, "text/html").querySelector('li');
               targetEle.innerHTML = targetEle.innerHTML.trim();
               dataList.listEl.appendChild(targetEle);
               dataList.optionElements.push(targetEle);  
               dataList.options.push(value);

               if(!dataList.currentValue) dataList.setValue(value);
     
               targetEle.onmousedown = (e)=>{
                    dataList.optionElements.forEach((el,index)=>{
                         if(e.target===el){
                         dataList.setValue(dataList.options[index]);
                         dataList.hideList();
                         return;
                         }
                    })
               }
          },  
          setValue(value){
               dataList.el.value = value;
               dataList.currentValue = value;
          },
          showList(){
               dataList.listOpened = true;
               dataList.listEl.classList.add('opacity-100');
               dataList.listEl.classList.add('scale-100');
               dataList.arrow.classList.add("rotate-0");
          },
          hideList(){
               dataList.listOpened = false;
               dataList.listEl.classList.remove('opacity-100');
               dataList.listEl.classList.remove('scale-100');
               dataList.arrow.classList.remove("rotate-0");
          },
          init(){ 
               dataList.arrow.onclick = ()=>{
                    dataList.listOpened ? dataList.hideList(): dataList.showList();
               } 
               dataList.el.oninput = (e)=>{
                    dataList.find(e.target.value);
               }
               dataList.el.onclick= (el)=>{
                    dataList.showList();
                    for(let el of dataList.optionElements){
                         el.classList.remove('hidden');
                    }
               }
               dataList.el.onblur = (e)=>{
                    dataList.hideList();
                    dataList.setValue(dataList.currentValue);
               }
          }
     }
     
     // how to use
     dataList.init(); 
     // add items
     const data = ["Apple","Apple","Pear","Avocado","Pineapple","Banana","Peach","Oraaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaange"," ","",null,undefined,[],{},{a:1}];
     data.forEach(v=>(dataList.append(v))); 

     // remove item
     // dataList.remove("Peach");

     // get selected value
     // dataList.currentvalue;
     </script>
</body>

</html>