<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi&display=swap" rel="stylesheet" />
		<script src="/static/tailwind.js"></script>
		<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
		<title>Xenesis | Cart</title>
		<link rel="icon" type="image/png" href="/static/logoCus.png" />
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
	</head>
	<body>
		<div class="md:block hidden">
			<nav class="flex items-center overflow-visible justify-between text-white fixed w-full top-0 pt-[calc(2vh)] pb-10 px-[calc(3vh)] z-50 transition-all duration-300" id="navbar">
				<a href="/">
					<img src="/static/logoCus.png" class="h-16 w-auto" />
				</a>
				<ul class="flex items-center">
					<li class="mx-[calc(2vh)] py-2 font-semibold text-[calc(3vh)] hover:text-[#bc85ff] transition-all duration-300 border-transparent border-4 hover:border-b-[#bc85ff]"><a href="/">Home</a></li>
					<li class="mx-[calc(2vh)] py-2 font-semibold text-[calc(3vh)] hover:text-[#bc85ff] transition-all duration-300 border-transparent border-4 hover:border-b-[#bc85ff]"><a href="/events">Events</a></li>
					<li class="mx-[calc(2vh)] py-2 font-semibold text-[calc(3vh)] hover:text-[#bc85ff] transition-all duration-300 border-transparent border-4 hover:border-b-[#bc85ff]"><a href="/aboutus">About Us</a></li>
					<li class="mx-[calc(2vh)] py-2 font-semibold text-[calc(3vh)] hover:text-[#bc85ff] transition-all duration-300 border-transparent border-4 hover:border-b-[#bc85ff]"><a href="/faqs">FAQs</a></li>
					{% if isUser == False %}
					<li class="mx-[calc(2vh)] py-2 font-semibold text-[calc(3vh)] hover:text-[#bc85ff] transition-all duration-300 border-transparent border-4 hover:border-b-[#bc85ff]"><a href="/login">Login</a></li>
					<li class="mx-[calc(2vh)] py-2 font-semibold text-[calc(3vh)] hover:text-[#bc85ff] transition-all duration-300 border-transparent border-4 hover:border-b-[#bc85ff]"><a href="/register">Register</a></li>
					{%else%}
					<li class="mx-[calc(2vh)] py-2 font-semibold text-[calc(3vh)] hover:text-[#bc85ff] transition-all duration-300 border-transparent border-4 hover:border-b-[#bc85ff]"><a href="/myTicket">My Tickets</a></li>
<li class="mx-[calc(2vh)] py-2 w-14"></li>
					{%endif%}
				</ul>
			</nav>
			{% if isUser == True %}
			<div class="fixed right-10 top-6 z-[999] overflow-visible flex items-center justify-center gap-4 px-[calc(2vh)]">
				<img src="/static/event-images/4.jpg" alt="" class="w-[45px] h-[45px] rounded-full object-cover cursor-pointer" onclick="toggleProfileDropdown()" />

				<div class="absolute bg-slate-600 top-16 right-0 w-full min-w-[200px] rounded-md z-[999] h-0 overflow-hidden transition-all duration-300"" id=""profile-dropdown">
					<p class="w-full px-4 text-white"><i class="bi bi-person mr-2.5"></i>{{userName}}</p>
					<hr class="w-full my-2" />
					<a href="/logout" class="">
						<p class="w-full px-4 text-white"><i class="bi bi-box-arrow-right mr-2.5"></i>Logout</p>
					</a>
				</div>
		</div>
		{%endif%}
		</div>

		<div class="block md:hidden">
			<!-- Navbar -->
			<nav class="flex items-center justify-between text-white fixed w-full top-0 py-[calc(3vh)] px-[calc(3vh)] z-50 transition-all duration-300">
				<a href="/">
					<img src="/static/logoCus.png" class="h-14 w-auto" />
				</a>

				<div class="relative flex items-center justify-center gap-4">
					<!-- Profile Image -->
					<img src="/static/event-images/4.jpg" alt="" class="w-[45px] h-[45px] rounded-full object-cover" onclick="toggleProfileDropdown()" />
					<!-- Profile -->
					<div class="fixed right-10 top-6 z-[999] overflow-visible flex items-center justify-center gap-4 px-[calc(2vh)]">			
						<div class="absolute bg-slate-600 top-16 right-0 w-full min-w-[200px] rounded-md z-[999] h-0 overflow-hidden transition-all duration-300" id="profile-dropdown-mobile">
							<p class="w-full px-4 text-white"><i class="bi bi-person mr-2.5"></i>{{userName}}</p>
							<hr class="w-full my-2" />
							<a href="/logout" class="">
								<p class="w-full px-4 text-white"><i class="bi bi-box-arrow-right mr-2.5"></i>Logout</p>
							</a>
						</div>
					</div>
					<!-- Menu Toggle Button -->
					<button class="text-2xl block lg:hidden !outline-none" onclick="toggleMobileMenu()"><i class="bi bi-list"></i></button>
				</div>

				<!-- Mobile Menu -->
				<div class="absolute top-0 left-full flex flex-col gap-5 items-center justify-center w-screen h-screen z-[999] bg-slate-900 bg-opacity-95 transition-all duration-300" id="mobile-menu">
					<button class="absolute top-10 right-10 !outline-none" onclick="toggleMobileMenu()"><i class="bi bi-x-lg"></i></button>
					<a href="/" class="text-2xl">Home</a>
					<a href="/events" class="text-2xl">Events</a>
					<a href="#" class="text-2xl">Event Confirm</a>
					<a href="/aboutus" class="text-2xl">About Us</a>
					<a href="/login" class="text-2xl">Login</a>
					<a href="/register" class="text-2xl">Register</a>
				</div>
				
			</nav>				
		</div>
		<section class="pt-28 pb-10 radial-gradient-container sm:py-16 lg:py-20">
			<div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
				<div class="flex items-center justify-center">
					<h1 class="text-2xl font-bold text-white">Shopping Cart</h1>
					<span class="px-2 py-1 ml-4 text-xs font-bold tracking-widest uppercase border rounded-full rounded-r-nonepy-1 text-gray-50"> 4 Items </span>
				</div>

				<div class="max-w-2xl mx-auto mt-8 md:mt-12">
					<div class="overflow-hidden border shadow rounded-xl">
						<div class="px-4 py-6 sm:px-8 sm:py-10">
							<div class="flow-root">
								<ul class="divide-y divide-gray-200 -my-7">
									<li class="flex py-7">
										<div class="flex-shrink-0">
											<img class="object-cover w-24 h-24 rounded-lg" src="https://cdn.rareblocks.xyz/collection/clarity-ecommerce/images/cart-page/2/product-1.png" alt="" />
										</div>

										<div class="relative flex flex-col justify-between flex-1 ml-5">
											<div class="sm:grid sm:grid-cols-2 sm:gap-x-5">
												<div class="pr-9 sm:pr-5">
													<p class="text-base font-bold text-white">Apple Watch Series 7</p>
													<p class="mt-1.5 text-sm font-medium text-gray-500">Golden</p>
												</div>

												<div class="flex items-end justify-between mt-4 sm:items-start sm:justify-end sm:mt-0">
													<p class="flex-shrink-0 w-20 text-base font-bold text-left text-white sm:text-right sm:ml-8 sm:order-2">$259.00</p>

													<div class="sm:order-1">
														<select name="" id="" class="block py-1 pl-3 pr-10 text-sm font-normal text-gray-900 placeholder-gray-500 bg-white border border-gray-300 rounded-md caret-white focus:ring-white focus:border-white">
															<option value="">1</option>
														</select>
													</div>
												</div>
											</div>

											<p class="flex mt-3 space-x-2 text-sm text-gray-500">
												<svg class="flex-shrink-0 w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
													<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
												</svg>
												<span> Will arrive in 2 days </span>
											</p>

											<div class="absolute top-0 right-0 flex sm:bottom-0 sm:top-auto">
												<button type="button" class="inline-flex p-2 -m-2 text-gray-400 transition-all duration-200 rounded focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white hover:text-white">
													<svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
														<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
													</svg>
												</button>
											</div>
										</div>
									</li>

									<li class="flex py-7">
										<div class="flex-shrink-0">
											<img class="object-cover w-24 h-24 rounded-lg" src="https://cdn.rareblocks.xyz/collection/clarity-ecommerce/images/cart-page/2/product-2.png" alt="" />
										</div>

										<div class="relative flex flex-col justify-between flex-1 ml-5">
											<div class="sm:grid sm:grid-cols-2 sm:gap-x-5">
												<div class="pr-9 sm:pr-5">
													<p class="text-base font-bold text-white">Beylob 90 Speaker</p>
													<p class="mt-1.5 text-sm font-medium text-gray-500">Space Gray</p>
												</div>

												<div class="flex items-end justify-between mt-4 sm:justify-end sm:items-start sm:mt-0">
													<p class="flex-shrink-0 w-20 text-base font-bold text-left text-white sm:text-right sm:ml-8 sm:order-2">$59</p>

													<div class="sm:order-1">
														<select name="" id="" class="block py-1 pl-3 pr-10 text-sm font-normal text-gray-900 placeholder-gray-500 bg-white border border-gray-300 rounded-md caret-white focus:ring-white focus:border-white">
															<option value="">1</option>
														</select>
													</div>
												</div>
											</div>

											<p class="flex mt-3 space-x-2 text-sm text-gray-500">
												<svg class="flex-shrink-0 w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
													<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z" />
												</svg>
												<span> Only 2 items available </span>
											</p>

											<div class="absolute top-0 right-0 flex sm:bottom-0 sm:top-auto">
												<button type="button" class="inline-flex p-2 -m-2 text-gray-400 transition-all duration-200 rounded focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white hover:text-white">
													<svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
														<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
													</svg>
												</button>
											</div>
										</div>
									</li>

									<li class="flex py-7">
										<div class="flex-shrink-0">
											<img class="object-cover w-24 h-24 rounded-lg" src="https://cdn.rareblocks.xyz/collection/clarity-ecommerce/images/cart-page/2/product-3.png" alt="" />
										</div>

										<div class="relative flex flex-col justify-between flex-1 ml-5">
											<div class="sm:grid sm:grid-cols-2 sm:gap-x-5">
												<div class="pr-9 sm:pr-5">
													<p class="text-base font-bold text-white">Beoplay M5 Bluetooth Speaker</p>
													<p class="mt-1.5 text-sm font-medium text-gray-500">Gray Edition</p>
												</div>

												<div class="flex items-end justify-between mt-4 sm:justify-end sm:items-start sm:mt-0">
													<p class="flex-shrink-0 w-20 text-base font-bold text-left text-white sm:text-right sm:ml-8 sm:order-2">$99</p>

													<div class="sm:order-1">
														<select name="" id="" class="block py-1 pl-3 pr-10 text-sm font-normal text-gray-900 placeholder-gray-500 bg-white border border-gray-300 rounded-md caret-white focus:ring-white focus:border-white">
															<option value="">1</option>
														</select>
													</div>
												</div>
											</div>

											<div class="absolute top-0 right-0 flex sm:bottom-0 sm:top-auto">
												<button type="button" class="inline-flex p-2 -m-2 text-gray-400 transition-all duration-200 rounded focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white hover:text-white">
													<svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
														<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
													</svg>
												</button>
											</div>
										</div>
									</li>

									<li class="flex py-7">
										<div class="flex-shrink-0">
											<img class="object-cover w-24 h-24 rounded-lg" src="https://cdn.rareblocks.xyz/collection/clarity-ecommerce/images/cart-page/2/product-1.png" alt="" />
										</div>

										<div class="relative flex flex-col justify-between flex-1 ml-5">
											<div class="sm:grid sm:grid-cols-2 sm:gap-x-5">
												<div class="pr-9 sm:pr-5">
													<p class="text-base font-bold text-white">Apple Watch Series 7 - 44mm</p>
													<p class="mt-1.5 text-sm font-medium text-gray-500">Golden</p>
												</div>

												<div class="flex items-end justify-between mt-4 sm:items-start sm:justify-end sm:mt-0">
													<p class="flex-shrink-0 w-20 text-base font-bold text-left text-white sm:text-right sm:ml-8 sm:order-2">$159</p>

													<div class="sm:order-1">
														<select name="" id="" class="block py-1 pl-3 pr-10 text-sm font-normal text-gray-900 placeholder-gray-500 bg-white border border-gray-300 rounded-md caret-white focus:ring-white focus:border-white">
															<option value="">1</option>
														</select>
													</div>
												</div>
											</div>

											<div class="absolute top-0 right-0 flex sm:bottom-0 sm:top-auto">
												<button type="button" class="inline-flex p-2 -m-2 text-gray-400 transition-all duration-200 rounded focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white hover:text-white">
													<svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
														<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
													</svg>
												</button>
											</div>
										</div>
									</li>
								</ul>
							</div>

							<hr class="border-gray-200 mt-7" />

							<div class="flex items-center justify-between mt-6">
								<p class="text-lg font-medium text-white">Sub Total</p>
								<p class="text-lg font-bold text-white">$699</p>
							</div>

							<div class="mt-6 text-center">
								<button type="button" class="inline-flex items-center justify-center w-full px-6 py-4 text-sm font-bold text-white transition-all duration-200 bg-[#582699] border border-transparent rounded-md focus:outline-none">Continue to Payment</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<script src="/static/js/header.js"></script>
	</body>
</html>
