<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0">
    <title>Xenesis - Event Details</title>
    <link rel="icon" type="image/png" href="/static/logoCus.png" />
    <link rel="stylesheet" href="/static/tailwind.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <style>
        /* Fading animation */
        .fade {
            /* animation-name: fade;
            animation-duration: 1.5s;
            animation-fill-mode: forwards; */
            animation: fade 1.5s linear forwards;
            object-fit: cover;
        }

        @keyframes fade {
            from {
                opacity: .4
            }

            to {
                opacity: 1
            }
        }

        h1.event-title {
            font-family: 'Poppins', sans-serif;
            ;
            color: transparent;
            -webkit-text-stroke: 1px white;
            /* text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000; */
        }

        .clip-copyrights {
            clip-path: polygon(0 0, 85% 0%, 100% 100%, 0% 100%);
        }
        .clip-button {
            background: linear-gradient(to right, #7815ea, #c595ff) !important;
            clip-path: polygon(0% 0%, 90% 0, 100% 30%, 100% 100%, 0 100%);
        }

        .font-poppins {
            font-family: 'Poppins', 'snas-serif';
        }
    </style>
</head>


<!-- mix-blend-multiply mix-blend-overlay mix-blend-lighten mix-blend-color-dodge mix-blend-color-burn mix-blend-difference mix-blend-exclusion mix-blend-hue mix-blend-saturation mix-blend-color mix-blend-luminosity mix-blend-plus-lighter -->

<body>

    <!-- Navbar Laptop | Tablet -->
    <div class="md:block hidden">
        <nav class="flex items-center overflow-visible justify-between text-white fixed w-full top-0 pt-[calc(2vh)] pb-10 px-[calc(3vh)] z-50 transition-all duration-300" id="navbar">
            <a href="/">
                <img src="/static/logoCus.png" class="h-16 w-auto" />
            </a>
            <ul class="flex items-center">
                <li class="mx-[calc(2vh)] py-2 font-semibold text-[calc(3vh)] hover:text-[#bc85ff] transition-all duration-300 border-transparent border-4 hover:border-b-[#bc85ff]"><a href="/">Home</a></li>
                <li class="mx-[calc(2vh)] py-2 font-semibold text-[calc(3vh)] hover:text-[#bc85ff] transition-all duration-300 border-transparent border-4 hover:border-b-[#bc85ff]"><a href="/events">Events</a></li>
                <li class="mx-[calc(2vh)] py-2 font-semibold text-[calc(3vh)] hover:text-[#bc85ff] transition-all duration-300 border-transparent border-4 hover:border-b-[#bc85ff]"><a href="/aboutus">About Us</a></li>
                <li class="mx-[calc(2vh)] py-2 font-semibold text-[calc(3vh)] hover:text-[#bc85ff] transition-all duration-300 border-transparent border-4 hover:border-b-[#bc85ff]"><a href="/faqs">FAQs</a></li>
                {% if isUser == False %}
                <li class="mx-[calc(2vh)] py-2 font-semibold text-[calc(3vh)] hover:text-[#bc85ff] transition-all duration-300 border-transparent border-4 hover:border-b-[#bc85ff]"><a href="/login">Login</a></li>
                <li class="mx-[calc(2vh)] py-2 font-semibold text-[calc(3vh)] hover:text-[#bc85ff] transition-all duration-300 border-transparent border-4 hover:border-b-[#bc85ff]"><a href="/register">Register</a></li>
                {%else%}
                {% if isVolunteer == True%}
                <li class="mx-[calc(2vh)] py-2 font-semibold text-[calc(3vh)] hover:text-[#bc85ff] transition-all duration-300 border-transparent border-4 hover:border-b-[#bc85ff]"><a href="/ticketVerifer">Verifer</a></li>
                {%endif%}
                <li class="mx-[calc(2vh)] py-2 font-semibold text-[calc(3vh)] hover:text-[#bc85ff] transition-all duration-300 border-transparent border-4 hover:border-b-[#bc85ff]"><a href="/myTicket">My Tickets</a></li>
<li class="mx-[calc(2vh)] py-2 w-14"></li>
                {%endif%}
            </ul>
        </nav>
        {% if isUser == True %}
        <div class="fixed right-10 top-6 z-[999] overflow-visible flex items-center justify-center gap-4 px-[calc(2vh)]">
            <img src="/static/avatars/{{profilePic}}.png" alt="" class="w-[45px] h-[45px] rounded-full object-cover cursor-pointer bg-slate-300" onclick="toggleProfileDropdown()" />

            <div class="absolute bg-slate-600 top-16 right-0 w-full min-w-[200px] rounded-md z-[999] h-0 overflow-hidden transition-all duration-300" id="profile-dropdown">
                <p class="w-full px-4 text-white truncate capitalize"><i class="bi bi-person mr-2.5"></i>{{userName}}</p>
                <hr class="w-full my-2" />
                <a href="#" class="">
                    <p class="w-full px-4 text-white"><i class="bi bi-box-arrow-right mr-2.5"></i>Logout</p>
                </a>
            </div>
        </div>
        {%endif%}
    </div>

    <!-- Navbar Mobile -->
    <div class="block md:hidden">
        <nav class="flex items-center justify-between text-white fixed w-full top-0 py-[calc(3vh)] px-[calc(3vh)] z-50 transition-all duration-300" id="mobile-navbar">
            <a href="/">
                <img src="/static/logoCus.png" class="h-14 w-auto" />
            </a>

            <div class="relative flex items-center justify-center gap-4 lg:hidden">
                <!-- Profile Image -->
                <img src="/static/avatars/{{profilePic}}.png" alt="" class="w-[45px] h-[45px] rounded-full object-cover bg-slate-300" onclick="toggleProfileDropdown()" />
                <!-- Profile -->
                <div class="fixed right-10 top-6 z-[999] overflow-visible flex items-center justify-center gap-4 px-[calc(2vh)]">
                    <div class="absolute bg-slate-600 top-16 right-0 w-full min-w-[200px] rounded-md z-[999] h-0 overflow-hidden transition-all duration-300" id="profile-dropdown-mobile">
                        <p class="w-full px-4 text-white"><i class="bi bi-person mr-2.5"></i>{{userName}}</p>
                        <hr class="w-full my-2" />
                        <a href="/logout" class="">
                            <p class="w-full px-4 text-white truncate capitalize"><i class="bi bi-box-arrow-right mr-2.5"></i>Logout</p>
                        </a>
                    </div>
                </div>
                <!-- Menu Toggle Button -->
                <button class="text-2xl block lg:hidden !outline-none" onclick="toggleMobileMenu()"><i class="bi bi-list"></i></button>
            </div>

            <!-- Mobile Menu -->
			<div class="absolute top-0 left-full flex flex-col gap-5 items-center justify-center w-screen h-screen z-[999] bg-slate-900 bg-opacity-95 transition-all duration-300" id="mobile-menu">
				<button class="absolute top-10 right-10 !outline-none" onclick="toggleMobileMenu()"><i class="bi bi-x-lg"></i></button>
				<a href="/" class="text-2xl">Home</a>
				<a href="/events" class="text-2xl">Events</a>
				<a href="/aboutus" class="text-2xl">About Us</a>
				<a href="/faqs" class="text-2xl">FAQs</a>
				{% if isUser == False %}
					<a href="/login" class="text-2xl">Login</a>
					<a href="/register" class="text-2xl">Register</a>
					{%else%}
					{% if isVolunteer == True%}
						<a href="/ticketVerifer" class="text-2xl">Verifer</a>
					{%endif%}
					<a href="/myTicket" class="text-2xl">My Tickets</a>
				{%endif%}
			</div>
        </nav>
    </div>

    <section class="w-full h-full min-h-[100vh] relative flex flex-col items-center justify-center bg-gradient-to-b from-[#240a34] to-[#211e60]">

        <div class="w-full h-full relative flex items-center justify-center overflow-y-hidden">
            <div class="absolute w-full h-full bg-gradient-to-t from-[#230e3d] via-transparent to-transparent z-10"> </div>
            <div class="flex relative overflow-hidden">
                <img src="/static/event-images/jett.jpg" alt="" class="w-screen md:h-screen h-full object-cover object-right mySlides fade">
                <img src="/static/event-images/1.jpg" alt="" class="w-screen md:h-screen h-full object-cover object-center mySlides fade">
                <img src="/static/event-images/2.jpg" alt="" class="w-screen md:h-screen h-full object-cover object-center mySlides fade">
                <img src="/static/event-images/4.jpg" alt="" class="w-screen md:h-screen h-full object-cover object-center mySlides fade">
            </div>
        </div>

        <div class="w-full h-full xl:px-32 lg:px-20 md:px-16 sm:px-12 px-8 sm:py-20 py-0 sm:pt-0 text-white relative z-30">

            <!-- <h1 class="event-title text-[6vw] font-bold text-transparent">X-Motion Game Mania</h1> -->
            <h1 class="lg:text-[5vw] sm:text-[7vw] text-[2.3rem]  z-30 font-extrabold sm:-mt-36 text-white text-center">{{name}}</h1>

            <!-- Description -->
            <div class="sm:mb-24 my-10 text-center">
                <p class="font-bold text-3xl mb-5 text-blue-400 z-30">Description</p>
                <p class="text-gray-300 sm:text-lg leading-7 text-justify sm:font-normal font-light">{{description}}</p>
            </div>

            <!-- Faculty | Prizes | Location -->
            <div class="grid gap-10 xl:grid-cols-3 grid-cols-1 sm:mb-24 mb-12">
                <!-- Faculty Co-ordinators -->
                <div class="sm:text-center xl:mt-16 mt-10">
                    <p class="font-bold text-3xl mb-5 text-blue-400">Student Coordinators</p>
                    <p class="text-gray-300 sm:text-lg">{{organiser1}},<br /> {{organiser2}},<br /> {{organiser3}},<br /> {{organiser4}},<br /> {{organiser5}}</p>
                </div>
                <!-- Prizes -->
                <div class="sm:text-center xl:mt-0 mt-10">
                    <p class="font-bold text-3xl mb-2 text-blue-400">Prizes</p>
                    <div class="flex items-center justify-center gap-12 pt-4">
                        <div>
                            <img src="/static/trophy/1.png" alt="" class="w-[100px] mix-blend-screen mb-3">
                            <p class="text-sm sm:text-lg flex flex-col items-center"><span class="font-semibold text-base text-gray-300">1st</span> ₹ 1,500</p>
                        </div>
                        <div>
                            <img src="/static/trophy/2.png" alt="" class="w-[100px] mix-blend-screen mb-3">
                            <p class="text-sm sm:text-lg flex flex-col items-center"><span class="font-semibold text-base text-gray-300">2nd</span> ₹ 750</p>
                        </div>
                    </div>
                </div>
                <!-- Location -->
                <div class="sm:text-center xl:mt-16 mt-10">
                    <p class="font-bold text-3xl mb-5 text-blue-400">Location of Event</p>
                    <p><span class="font-semibold text-gray-300 sm:text-lg">Floor</span> : 1st floor</p>
                    <p><span class="font-semibold text-gray-300 sm:text-lg">Lab / Hall / Class</span> : {{location}}</p>
                </div>
            </div>   

            <!-- Rules -->
            <div class="grid lg:grid-cols-2 grid-cols-1 lg:gap-2 sm:gap-10 gap-6 sm:my-32 my-20">
                <!-- Rules -->
                <div>
                    <p class="font-bold text-3xl mb-5 text-blue-400">Rules of Event</p>
                    <ul class="pl-5 lg:pr-5 pr-0 text-gray-300 sm:text-lg sm:font-normal font-light">
                        {%for rule in rules%}
                        <li class="list-decimal mb-4">{{rule}}</li>
                        {%endfor%}
                    </ul>
                </div>
                <img src="/static/login/login-back.png" alt="" class=" w-full h-full rounded-xl ">
            </div>
            <!-- Rounds -->
            {% if rounds.0.2 > 10 %}
            <div class="flex mb-12">
                <div class="">
                    <p class="font-bold text-3xl lg:mb-8 sm:mb-4 text-blue-400">Rounds</p>
                    <ul class="pl-8 text-gray-300 sm:text-lg flex flex-col lg:gap-14 gap-6">
                        {%for round in rounds%}
                        {% if round.2 > 10 %}
                        <div class="grid lg:grid-cols-2 grid-cols-1 lg:gap-12 gap-0">
                            {% if round.3 == 0 %}
                            <img src="/static/login/login-back.png" alt="" class="w-full h-full rounded-xl hidden lg:block">
                            {%endif%}
                            <div class="lg:pl-4 pl-0">
                                <li class="list-decimal font-semibold my-2 text-white text-lg">{{round.0}}</li>
                                <ul class="pl-4">
                                    {%for point in round.1 %}
                                    <li class="font-light list-disc mb-3">{{point}}</li>
                                    {%endfor%}
                                </ul>
                            </div>
                            {% if round.3 == 1 %}
                            <img src="/static/login/login-back.png" alt="" class="w-full h-full rounded-xl hidden lg:block">
                            {%endif%}
                        </div>
                        {%endif%}
                        {%endfor%}
                    </ul>
                </div>
            </div>
            {%endif%}

            <!-- Organizers -->
            <div class="mb-6 hidden sm:block">
                <p class="font-bold text-3xl mb-2 text-blue-400">Organizers</p>
                <div class="flex items-center justify-start gap-10 mt-10 ">
                    <div class="flex flex-col items-center justify-center">
                        <img src="/static/event-images/jett.jpg" alt="" class="w-[200px] h-[200px] object-cover object-right rounded-full">
                        <p class="mt-3 text-center text-2xl font-bold">Parth Padhiar</p>
                    </div>
                    <div class="flex flex-col items-center justify-center">
                        <img src="/static/event-images/1.jpg" alt="" class="w-[200px] h-[200px] object-cover object-center rounded-full">
                        <p class="mt-3 text-center text-2xl font-bold">Jagrat Patel</p>
                    </div>
                    <div class="flex flex-col items-center justify-center">
                        <img src="/static/event-images/2.jpg" alt="" class="w-[200px] h-[200px] object-cover object-center rounded-full">
                        <p class="mt-3 text-center text-2xl font-bold">Jaivin Barot</p>
                    </div>
                    <div class="flex flex-col items-center justify-center">
                        <img src="/static/event-images/4.jpg" alt="" class="w-[200px] h-[200px] object-cover object-center rounded-full">
                        <p class="mt-3 text-center text-2xl font-bold">Shubham Bhogayata</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add Event to Cart Div -->
        {% if isUser == True %}
        {% if isTeamEvent == True %}
        <a class="w-full h-full relative z-50" href="/addTeamMembers">
            <button class="fixed bottom-5 right-5 group !outline-none z-50 px-10 py-3 border rounded-lg bg-[#221144] text-white text-lg add-to-cart-btn animate-bounce">
                <span class=" flex items-center gap-1">Register Team </span>
            </button>
        </a>
        {%else%}
            <button onclick="ConfirmationModalToggle()" class="fixed bottom-5 right-5 group !outline-none z-50 px-10 py-3 border rounded-lg bg-[#221144] text-white text-lg add-to-cart-btn animate-bounce bg-green-500">
                <i class="transition-all duration-200 bi bi-paypal group-hover:mr-1"></i> Register
            </button>
        {%endif%}
        {%endif%}

    </section>
    {% if isUser == True %}
    <div id="ConfirmationModal" class="fixed inset-0 z-[100] flex flex-col opacity-0 h-0 py-0 items-center justify-center overflow-hidden px-4  sm:px-5" >
        <div class="absolute inset-0 bg-slate-900/60 transition-opacity duration-300"></div>
        <div class="relative max-w-md rounded-lg bg-white pt-10 pb-4 text-center transition-all duration-300 dark:bg-navy-700">
        <div class="avatar h-20 w-20 mx-auto">
            <img class="rounded-full" src="/static/avatars/{{profilePic}}.png" alt="avatar" />
            
        </div>
        <div class="mt-4 px-4 sm:px-12">
            <h3 class="text-lg text-slate-800 dark:text-navy-50">
            Please Confirm Your Payment
            </h3>
            <p class="mt-1 text-slate-500 dark:text-navy-200">
            On confirming your payment will be processed immediately.
            </p>
        </div>
        <div class="my-4 mt-16 h-px bg-slate-200 dark:bg-navy-500"></div>

        <div class="space-x-3">
            <button onclick="ConfirmationModalToggle()" class="btn min-w-[7rem] rounded-full border border-slate-300 font-medium text-slate-800 hover:bg-slate-150 focus:bg-slate-150 active:bg-slate-150/80 dark:border-navy-450 dark:text-navy-50 dark:hover:bg-navy-500 dark:focus:bg-navy-500 dark:active:bg-navy-500/90" >
            Cancel
            </button>
            <button onclick="confirmPayment()" class="btn min-w-[7rem] rounded-full bg-green-500 font-medium text-white hover:bg-primary-focus focus:bg-primary-focus active:bg-primary-focus/90 dark:bg-accent dark:hover:bg-accent-focus dark:focus:bg-accent-focus dark:active:bg-accent/90" >
            Confirm
            </button>
        </div>
        </div>
    </div>
    <script>
        function ConfirmationModalToggle(){
            document.getElementById('ConfirmationModal').classList.toggle('h-0');
            document.getElementById('ConfirmationModal').classList.toggle('py-6')
            document.getElementById('ConfirmationModal').classList.toggle('opacity-0')
        }
        function confirmPayment(){
            document.getElementById('ConfirmationModal').classList.toggle('py-6')
            document.getElementById('ConfirmationModal').classList.toggle('h-0');
            document.getElementById('ConfirmationModal').classList.toggle('opacity-0');
            fetch("/ticketGenrator/", {
					method: "POST",
					body: JSON.stringify({
						email: '{{email}}',
                        event: '{{name}}',
                        userCount: 1
					}),
					headers: {
						"Content-type": "application/json; charset=UTF-8"
					}
				})
				.then(response => response.json())
				.then(json => {})
            alert("payment has been confirm")
        }
    </script>
    {%endif%}
    <!-- Footer -->
	<footer class="bg-[#240a34] pt-20">
		<div class="md:flex sm:grid sm:grid-cols-2 flex !flex-col md:!flex-row md:!justify-around !justify-center md:!gap-10 sm:!gap-8 gap-6 xl:px-32 lg:px-20 md:px-12 px-8 mb-8">
			<!-- Social | Logo -->
			<div class="flex flex-col md:!items-center items-start gap-3">
				<img src="/static/logoCus.png" alt="Xenesis" class="lg:w-[140px] w-[110px]" />
				<p class="lg:max-w-[200px] md:max-w-[140px] md:text-center text-gray-300">Epic Events organized for ultimate students!</p>
			</div>
			<!-- Useful Links -->
			<div class="pt-4">
				<h3 class="font-bold text-white lg:!text-xl sm:!text-[1.05rem] mb-4 pb-2 relative after:content-&quot;&quot; after:absolute lg:after:left-0 after:left-0 after:bottom-0 md:after:w-[50%] after:w-[100px] after:h-[3px] after:bg-[#9704fe]">Useful Links</h3>
				<div class="flex flex-col text-left text-gray-400 gap-1 lg:text-base text-sm">
					<a href="/" class="hover:translate-x-2 hover:text-[#bc85ff] transition-all duration-300">Home</a>
					<a href="/event" class="hover:translate-x-2 hover:text-[#bc85ff] transition-all duration-300">Events</a>
					<a href="/aboutus" class="hover:translate-x-2 hover:text-[#bc85ff] transition-all duration-300">About Us</a>
					<a href="/faqs" class="hover:translate-x-2 hover:text-[#bc85ff] transition-all duration-300">FAQs</a>
				</div>
			</div>
			<!-- Join Us -->
			<div class="pt-4">
				<h3 class="font-bold text-white lg:!text-xl sm:!text-[1.05rem] mb-4 pb-2 relative after:content-&quot;&quot; after:absolute after:left-0 after:bottom-0 md:after:w-[50%] after:w-[100px] after:h-[3px] after:bg-[#9704fe]">Contact Us</h3>
				<div class="flex flex-col text-left gap-2 text-gray-400 lg:text-base text-sm">
					<div class="flex flex-col group cursor-pointer">
						<p class="text-[#9740fe]">Join Us:</p>
						<a href="mailto:xenesis@ldrp.ac.in" class="text-gray-300 text-sm group-hover:translate-x-2 transition-all duration-300">xenesis@ldrp.ac.in</a>
					</div>
					<div class="flex flex-col group cursor-pointer">
						<p class="text-[#9740fe]">Phone:</p>
						<p class="text-gray-300 text-sm group-hover:translate-x-2 transition-all duration-300">+91 999 999 9999</p>
					</div>
				</div>
			</div>
			<!-- Social Links -->
			<div class="md:pt-4 sm:pt-3 pt-4">
				<h3 class="font-bold text-white lg:!text-xl sm:!text-[1.05rem] mb-5 pb-2 relative after:content-&quot;&quot; after:absolute after:left-0 after:bottom-0 md:after:w-[50%] after:w-[100px] after:h-[3px] after:bg-[#9704fe]">Social Links</h3>
				<p class="lg:!max-w-[250px] md:!max-w-[200px] text-gray-300">Get in touch! Find us on any platform.</p>
				<div class="flex items-center justify-start lg:gap-5 gap-4 md:mt-4 mt-2">
					<a href="https://www.instagram.com/xenesisldrp/" class="text-gray-400 lg:text-xl md:text-lg text-base hover:-translate-y-1.5 hover:text-[#9740fe] transition-all duration-300"><i class="bi bi-facebook"></i></a>
					<a href="https://twitter.com/xenesisldrp" class="text-gray-400 lg:text-xl md:text-lg text-base hover:-translate-y-1.5 hover:text-[#9740fe] transition-all duration-300"><i class="bi bi-twitter"></i></a>
					<a href="https://www.facebook.com/xenesisldrp/" class="text-gray-400 lg:text-xl md:text-lg text-base hover:-translate-y-1.5 hover:text-[#9740fe] transition-all duration-300"><i class="bi bi-instagram"></i></a>
					<a href="#" class="text-gray-400 lg:text-xl md:text-lg text-base hover:-translate-y-1.5 hover:text-[#9740fe] transition-all duration-300"><i class="bi bi-youtube"></i></a>
				</div>
			</div>
		</div>
		<!-- Copyrights -->
		<div class="bg-[#211e60] bg-opacity-20 md:!w-fit w-full md:px-24 px-8 md:pr-36 mb-0 clip-copyrights text-gray-300 font-semibold py-8 md:text-xl text-md">&copy; 2023 Xenesis All Rights Registered</div>
	</footer>

    <script src="/static/tailwind.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />

    <!-- Tailwind Library -->
    <script src="/static/tailwind.js"></script>

    <script>
        let slideIndex = 0;
        showSlides();

        function showSlides() {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}
        slides[slideIndex-1].style.display = "block";
        setTimeout(showSlides, 3000); // Change image every 2 seconds
        }

        window.addEventListener('scroll', function () {
            const header = document.getElementById("navbar");
            header.classList.toggle('backdrop-blur-md', window.scrollY > 0);
        });
    </script>

    <script src="/static/js/header.js"></script>
</body>

</html>