{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />
		<script src="/static/tailwind.js"></script>
		<title>Xenesis - Events</title>
		<link rel="icon" type="image/png" href="/static/logoCus.png" />
		<link rel="stylesheet" href="/static/css/style.css" />
		<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
		<style>
			[data-title]::after:hover {
				/* opacity: 1; */
				transition: all 0.1s ease 0.5s;
				/* visibility: visible; */
			}
			[data-title]::after {
				content: attr(data-title);
				background-color: #00ff00;
				color: #111;
				font-size: 150%;
				position: absolute;
				padding: 1px 5px 2px 5px;
				bottom: -1.6em;
				left: 100%;
				white-space: nowrap;
				box-shadow: 1px 1px 3px #222222;
				/* opacity: 0; */
				border: 1px solid #111111;
				z-index: 99999;
				/* visibility: hidden; */
			}
			[data-title] {
				position: relative;
			}
		</style>
	</head>

	<body class="bg-[#240a34] overflow-x-hidden">
		<div class="md:block hidden">
			<!-- Navbar -->
			<nav class="flex items-center overflow-visible justify-between text-white fixed w-full top-0 pt-[calc(2vh)] pb-10 px-[calc(3vh)] z-50 transition-all duration-300" id="navbar">
				<a href="/">
					<img src="/static/logoCus.png" class="h-16 w-auto" />
				</a>
				<ul class="flex items-center">
					<li class="mx-[calc(2vh)] py-2 font-semibold text-[calc(3vh)] hover:text-[#bc85ff] transition-all duration-300 border-transparent border-4 hover:border-b-[#bc85ff]"><a href="/">Home</a></li>
					<li class="mx-[calc(2vh)] py-2 font-semibold text-[calc(3vh)] hover:text-[#bc85ff] transition-all duration-300 border-transparent border-4 hover:border-b-[#bc85ff]"><a href="/events">Events</a></li>
					<li class="mx-[calc(2vh)] py-2 font-semibold text-[calc(3vh)] hover:text-[#bc85ff] transition-all duration-300 border-transparent border-4 hover:border-b-[#bc85ff]"><a href="/aboutus">About Us</a></li>
					<li class="mx-[calc(2vh)] py-2 font-semibold text-[calc(3vh)] hover:text-[#bc85ff] transition-all duration-300 border-transparent border-4 hover:border-b-[#bc85ff]"><a href="/faqs">FAQs</a></li>
					{% if isUser == False %}
					<li class="mx-[calc(2vh)] py-2 font-semibold text-[calc(3vh)] hover:text-[#bc85ff] transition-all duration-300 border-transparent border-4 hover:border-b-[#bc85ff]"><a href="/login">Login</a></li>
					<li class="mx-[calc(2vh)] py-2 font-semibold text-[calc(3vh)] hover:text-[#bc85ff] transition-all duration-300 border-transparent border-4 hover:border-b-[#bc85ff]"><a href="/register">Register</a></li>
					{%else%} {% if isVolunteer == True%}
					<li class="mx-[calc(2vh)] py-2 font-semibold text-[calc(3vh)] hover:text-[#bc85ff] transition-all duration-300 border-transparent border-4 hover:border-b-[#bc85ff]"><a href="/ticketVerifer">Verifer</a></li>
					{%endif%}
					<li class="mx-[calc(2vh)] py-2 font-semibold text-[calc(3vh)] hover:text-[#bc85ff] transition-all duration-300 border-transparent border-4 hover:border-b-[#bc85ff]"><a href="/myTicket">My Tickets</a></li>
					<li class="mx-[calc(2vh)] py-2 w-14"></li>
					{%endif%}
				</ul>
			</nav>
			{% if isUser == True %}
			<div class="fixed right-10 top-6 z-[999] overflow-visible flex items-center justify-center gap-4 px-[calc(2vh)]">
				<img src="/static/avatars/{{profilePic}}.png" alt="" class="w-[45px] h-[45px] rounded-full object-cover cursor-pointer bg-slate-300" onclick="toggleProfileDropdown()" />

				<div class="absolute bg-slate-600 top-16 right-0 w-full min-w-[200px] rounded-md z-[999] h-0 overflow-hidden transition-all duration-300" id="profile-dropdown">
					<p class="w-full px-4 text-white truncate capitalize"><i class="bi bi-person mr-2.5"></i>{{userName}}</p>
					<hr class="w-full my-2" />
					<a href="#" class="">
						<p class="w-full px-4 text-white"><i class="bi bi-box-arrow-right mr-2.5"></i>Logout</p>
					</a>
				</div>
			</div>
			{%endif%}

			<!-- Hero Section -->
			<div class="w-full h-screen overflow-hidden customScrollbar relative">
				<canvas id="canvas" class="w-screen h-[calc((1024/1536)*100vw)] absolute top-0 z-0"></canvas>
				<div class="absolute w-full top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 px-[calc(3vh)] text-center z-20">
					<h1 class="text-[calc(12vh)] text-white uppercase font-bold z-20">Events</h1>
					<!-- <div class="relative">
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ffffff" class="bi bi-search absolute top-1/2 -translate-y-1/2" viewBox="0 0 16 16">
							<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
						</svg>
						<input type="text" placeholder="Search Event" class="w-[60vw] bg-transparent p-4 border rounded-lg text-white placeholder:text-white focus:outline-none focus:backdrop-blur" />
					</div> -->

					<div class="w-[60vw] h-[65px] p-2 px-2 mx-auto md:px-4">
						<div class="w-full">
							<div class="flex items-center">
								<div class="relative w-full">
									<input onkeyup="Search()" id="search" placeholder="Search for a component..." class="bg-transparent w-full border border-brand-500 focus:outline-none p-3 pl-10 rounded-md text-sm text-white focus:backdrop-blur" /> <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" class="w-4 h-4 text-gray-200 absolute inset-4"><path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
									<button onclick="Search()" aria-label="Primary Button" type="button" class="flex content-center items-center justify-center text-center px-4 py-2 text-sm leading-4 font-medium rounded-md shadow-sm text-white bg-[#240A35] absolute right-1.5 top-1.5" style="flex-shrink: 0">Search</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="w-full h-full bg-[rgba(0,0,0,0.4)] absolute top-0 left-0 z-10"></div>
			</div>

			<!-- Department Events -->
			<section class="w-full bg-[#240A35]">
				<div class="absolute w-full h-full top-0 bg-gradient-to-t from-[#240A35] via-transparent to-transparent z-10"></div>
				{%for department in departmentArr%} {%if department.2 > 0 %}
				<!-- Computer Events -->
				<div class="py-6 px-4" id="{{department.0}}">
					<h1 class="mb-4 text-white font-bold text-2xl">{{department.0}}</h1>
					<div class="grid grid-cols-4 gap-5 mx-2">
						{%for event in department.1 %}
						<div data-event="{{event.0}}" class="event bg-[#AAABE2]/50 backdrop-blur-md rounded-lg group min-w-[22vw] max-w-[22vw] overflow-hidden">
							<div class="bg-[#2F1D69]/50 w-full h-full absolute top-full z-30 rounded-lg flex flex-col justify-between transition-all duration-300" id="cardOverlay{{event.0}}">
								<div class="px-4 pt-5">
									<div class="flex items-center justify-between">
										<h1 class="text-white font-bold text-xl capitalize eventName title-truncate max-w-[85%]">{{event.0}}</h1>
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffffff" class="bi bi-x-lg cursor-pointer" viewBox="0 0 16 16" onclick="cardOverlayHandleClose('{{event.0}}')">
											<path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
										</svg>
									</div>
									<hr class="my-3" />
									<h2 class="discription-truncate text-white">{{event.2}}</h2>
									<div class="my-1 flex items-center justify-between">
										<div class="flex flex-col">
											{%if event.1 != "-"%}
											<p class="text-white my-1 capitalize text-green-500">₹{{event.1}} per head</p>
											{%else%}
											<p class="text-white my-1 capitalize text-green-500">Individual Not Allowed</p>
											{%endif%} 
											{%if event.6 == True%}
											<p class="text-white my-1 capitalize text-green-500">₹{{event.7}} per Team</p>
											{%else%}
											<p class="text-white my-1 capitalize text-green-500">Team Not Allowed</p>
											{%endif%}
										</div>
										<div class="flex items-center gap-2">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffffff" class="bi bi-heart cursor-pointer" viewBox="0 0 16 16" id="likeSVG{{event.0}}" onclick="handleLike('{{event.0}}')">
												<path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
											</svg>
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ff0000" class="bi bi-heart-fill hidden opacity-0 cursor-pointer eventName" viewBox="0 0 16 16" id="likeFillSVG{{event.0}}" onclick="handleLike('{{event.0}}')">
												<path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
											</svg>
											<p class="text-white">9123</p>
										</div>
									</div>
								</div>
								<div class="bg-[#2F1D69] px-4 py-2 text-center cursor-pointer" onclick="javascript:location.href='/event/{{event.5}}'">
									<a class="text-white capitalize text-lg font-bold">register</a>
								</div>
							</div>
							<div class="" id="blurOverlay{{event.0}}">
								<div class="w-full rounded-t-lg overflow-hidden relative group">
									<img src="{{event.4}}" alt="1" class="group-hover:scale-110 h-48 w-full object-cover overflow-hidden transition-all duration-300" />
								</div>
								<div class="my-3 px-4">
									<h1 class="text-white font-bold text-2xl capitalize eventName title-truncate" data-title="{{event.0}}">{{event.0}}</h1>
									<div class="flex items-center justify-between my-4">
										<div class="flex flex-col">
											{%if event.1 != "-"%}
											<p class="text-[#2F1D69] text-lg font-semibold rounded-lg capitalize w-fit">₹{{event.1}} per head</p>
											{%else%}
											<p class="text-[#2F1D69] text-lg font-semibold rounded-lg capitalize w-fit">Individual Not Allowed</p>
											{%endif%} {%if event.6 == True%}
											<p class="text-[#2F1D69] text-lg font-semibold rounded-lg capitalize w-fit">₹{{event.7}} per Team</p>
											{%else%}
											<p class="text-[#2F1D69] text-lg font-semibold rounded-lg capitalize w-fit">Team Not Allowed</p>
											{%endif%}
										</div>
										<a class="bg-[#2F1D69] text-white font-semibold px-2 py-1 rounded-lg cursor-pointer" onclick="cardOverlayHandle('{{event.0}}')">View more</a>
									</div>
								</div>
								<div class="flex items-center justify-center bg-[#2F1D69] h-14 px-2 -pt-10 pb-0 rounded-b-lg relative">
									<div class="flex flex-col items-center absolute bottom-0 z-20 -translate-x-[50%]">
										<p class="text-[#2F1D69] font-semibold bg-white rounded-full h-5 w-5 flex items-center justify-center mb-1 font-bold">1</p>
										<p class="bg-yellow-500 px-4 py-2 text-white font-semibold transition-all duration-300 hover:py-4">₹ 1000</p>
									</div>
									<div class="flex flex-col items-center absolute bottom-0 translate-x-[50%] z-10">
										<p class="text-[#2F1D69] font-semibold bg-white rounded-full h-5 w-5 flex items-center justify-center mb-1 font-bold">2</p>
										<p class="bg-gray-500 px-4 py-[3px] text-white font-semibold transition-all duration-300 hover:py-4">₹ 750</p>
									</div>
								</div>
							</div>
						</div>
						{%endfor%}
					</div>
				</div>
				{%endif%} {%endfor%}
			</section>
		</div>
		<div class="block md:hidden">
			<!-- Navbar -->
			<nav class="flex items-center justify-between text-white fixed w-full top-0 py-[calc(3vh)] px-[calc(3vh)] z-50 transition-all duration-300" id="mobile-navbar">
				<a href="/">
					<img src="/static/logoCus.png" class="h-14 w-auto" />
				</a>

				<div class="relative flex items-center justify-center gap-4 lg:hidden">
					{% if isUser == True %}
					<!-- Profile Image -->
					<img src="/static/avatars/{{profilePic}}.png" alt="" class="w-[45px] h-[45px] rounded-full object-cover bg-slate-300" onclick="toggleProfileDropdown()" />
					<!-- Profile -->
					<div class="fixed right-10 top-6 z-[999] overflow-visible flex items-center justify-center gap-4 px-[calc(2vh)]">
						<div class="absolute bg-slate-600 top-16 right-0 w-full min-w-[200px] rounded-md z-[999] h-0 overflow-hidden transition-all duration-300" id="profile-dropdown-mobile">
							<p class="w-full px-4 text-white"><i class="bi bi-person mr-2.5"></i>{{userName}}</p>
							<hr class="w-full my-2" />
							<a href="/logout" class="">
								<p class="w-full px-4 text-white truncate capitalize"><i class="bi bi-box-arrow-right mr-2.5"></i>Logout</p>
							</a>
						</div>
					</div>
					{%endif%}
					<!-- Menu Toggle Button -->
					<button class="text-2xl block lg:hidden !outline-none" onclick="toggleMobileMenu()"><i class="bi bi-list"></i></button>
				</div>

				<!-- Mobile Menu -->
				<div class="absolute top-0 left-full flex flex-col gap-5 items-center justify-center w-screen h-screen z-[999] bg-slate-900 bg-opacity-95 transition-all duration-300" id="mobile-menu">
					<button class="absolute top-10 right-10 !outline-none" onclick="toggleMobileMenu()"><i class="bi bi-x-lg"></i></button>
					<a href="/" class="text-2xl">Home</a>
					<a href="/events" class="text-2xl">Events</a>
					<a href="/aboutus" class="text-2xl">About Us</a>
					<a href="/faqs" class="text-2xl">FAQs</a>
					{% if isUser == False %}
					<a href="/login" class="text-2xl">Login</a>
					<a href="/register" class="text-2xl">Register</a>
					{%else%} {% if isVolunteer == True%}
					<a href="/ticketVerifer" class="text-2xl">Verifer</a>
					{%endif%}
					<a href="/myTicket" class="text-2xl">My Tickets</a>
					{%endif%}
				</div>
			</nav>

			<section class="w-full h-[60vh] p-6 pb-20 text-white flex items-center justify-center bg-[url('/static/event-images/eventHerolandingPage2.png')] bg-center bg-no-repeat bg-cover relative">
				<div class="absolute left-0 top-0 w-full h-[60vh] bg-[rgba(0,0,0,0.5)] z-20"></div>
				<div class="z-30">
					<h1 class="text-[calc(6vh)] text-white uppercase font-bold">Events</h1>
				</div>
				<div class="absolute w-full h-full top-0 bg-gradient-to-t from-[#240A35] via-transparent to-transparent lg:z-10 z-30"></div>
			</section>

			<section class="pb-20 pt-6 sm:py-16 lg:py-20 xl:py-24 tails-selected-element outline-none bg-[#240A35]">
				<div class="px-5 mx-auto sm:px-6 lg:px-8 max-w-7xl">
					<div class="max-w-5xl mx-auto overflow-hidden divide-y divide-gray-200 sm:mt-16 rounded-xl">
						{%for department in departmentArr%} {%if department.2 > 0 %}
						<div class="faq" id="{{department.0}}">
							<h3>
								<button onclick="faqUpdater(this,'{{department.0}}')" class="flex items-center justify-between outline-none focus:outline-none w-full py-5 text-lg font-semibold text-left text-white sm:p-6" aria-expanded="false">
									<span>{{department.0}}</span>
									<span aria-hidden="true" class="ml-4" style="display: none">
										<svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
											<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H4" class=""></path>
										</svg>
									</span>
									<span aria-hidden="true" class="ml-4">
										<i class="bi bi-chevron-down"></i>
									</span>
								</button>
							</h3>
							<div class="overflow-y-hidden transition-all duration-300 scale-y-0 origin-top h-0" id="{{department.0}}Content">
								<div class="pb-6">
									<swiper-container class="mySwiper h-fit" space-between="30">
										{%for event in department.1 %} {%if event.2 != "NA" %}
										<swiper-slide class="h-fit">
											<div data-aos="zoom-in" class="bg-[#AAABE2]/50 backdrop-blur-md rounded-lg group min-w-full max-w-full md:min-w-[32%] md:max-w-[32%] lg:min-w-[24%] lg:max-w-[24%] snap-center">
												<div class="bg-[#2F1D69]/50 w-full h-full absolute top-full z-30 rounded-lg flex flex-col justify-between transition-all duration-300" id="cardOverlay{{event.0}}2">
													<div class="px-4 pt-5">
														<div class="flex items-center justify-between">
															<h1 class="text-white font-bold text-xl capitalize eventName title-truncate max-w-[85%]">{{event.0}}</h1>
															<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffffff" class="bi bi-x-lg cursor-pointer" viewBox="0 0 16 16" onclick="cardOverlayHandleClose('{{event.0}}')">
																<path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
															</svg>
														</div>
														<hr class="my-3" />
														<h2 class="discription-truncate text-white">{{event.2}}</h2>
														<div class="my-1 flex items-center justify-between">
															<div class="flex flex-col">
																{%if event.1 != "-"%}
																<p class="text-white my-1 capitalize text-green-500">₹{{event.1}} per head</p>
																{%else%}
																<p class="text-white my-1 capitalize text-green-500">Individual Not Allowed</p>
																{%endif%} 
																{%if event.6 == True%}
																<p class="text-white my-1 capitalize text-green-500">₹{{event.7}} per Team</p>
																{%else%}
																<p class="text-white my-1 capitalize text-green-500">Team Not Allowed</p>
																{%endif%}
															</div>
															<div class="flex items-center gap-2">
																<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffffff" class="bi bi-heart cursor-pointer" viewBox="0 0 16 16" id="likeSVG{{event.0}}2" onclick="handleLike('{{event.0}}')">
																	<path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
																</svg>
																<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ff0000" class="bi bi-heart-fill hidden opacity-0 cursor-pointer eventName" viewBox="0 0 16 16" id="likeFillSVG{{event.0}}2" onclick="handleLike('{{event.0}}')">
																	<path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
																</svg>
																<p class="text-white">9123</p>
															</div>
														</div>
													</div>
													<div class="bg-[#2F1D69] px-4 py-2 text-center cursor-pointer" onclick="javascript:location.href='/event/{{event.5}}'">
														<a class="text-white capitalize text-lg font-bold">register</a>
													</div>
												</div>
												<div class="" id="blurOverlay{{event.0}}2">
													<div class="w-full rounded-t-lg overflow-hidden relative group">
														<img src="{{event.4}}" alt="1" class="group-hover:scale-110 h-48 w-full object-cover overflow-hidden transition-all duration-300" />
													</div>
													<div class="my-3 px-4">
														<h1 class="text-white font-bold text-2xl capitalize eventName title-truncate">{{event.0}}</h1>
														<div class="flex items-center justify-between my-4">
															<div class="flex flex-col">
																{%if event.1 != "-"%}
																<p class="text-[#2F1D69] text-lg font-semibold rounded-lg capitalize w-fit">₹{{event.1}} per head</p>
																{%else%}
																<p class="text-[#2F1D69] text-lg font-semibold rounded-lg capitalize w-fit">Individual Not Allowed</p>
																{%endif%} {%if event.6 == True%}
																<p class="text-[#2F1D69] text-lg font-semibold rounded-lg capitalize w-fit">₹{{event.7}} per Team</p>
																{%else%}
																<p class="text-[#2F1D69] text-lg font-semibold rounded-lg capitalize w-fit">Team Not Allowed</p>
																{%endif%}
															</div>
															<a class="bg-[#2F1D69] text-white font-semibold px-2 py-1 rounded-lg cursor-pointer" onclick="cardOverlayHandle('{{event.0}}')">View more</a>
														</div>
													</div>
													<div class="flex items-center justify-center bg-[#2F1D69] h-14 px-2 -pt-10 pb-0 rounded-b-lg relative">
														<div class="flex flex-col items-center absolute bottom-0 z-20 -translate-x-[50%]">
															<p class="text-[#2F1D69] font-semibold bg-white rounded-full h-5 w-5 flex items-center justify-center mb-1 font-bold">1</p>
															<p class="bg-yellow-500 px-4 py-2 text-white font-semibold transition-all duration-300 hover:py-4">₹ 1000</p>
														</div>
														<div class="flex flex-col items-center absolute bottom-0 translate-x-[50%] z-10">
															<p class="text-[#2F1D69] font-semibold bg-white rounded-full h-5 w-5 flex items-center justify-center mb-1 font-bold">2</p>
															<p class="bg-gray-500 px-4 py-[3px] text-white font-semibold transition-all duration-300 hover:py-4">₹ 750</p>
														</div>
													</div>
												</div>
											</div>
										</swiper-slide>

										{%endif%} {%endfor%}
										
										<div class="swiper-button-prev"></div>
										<div class="swiper-button-next"></div>
									</swiper-container>

								</div>
							</div>
						</div>
						{%endif%} {%endfor%}
					</div>
				</div>
			</section>
		</div>

		<!-- Footer -->
		<footer class="bg-[#240a34] pt-20">
			<div class="md:flex sm:grid sm:grid-cols-2 flex flex-col md:flex-row lg:justify-around justify-center md:gap-10 gap-3 xl:px-32 lg:px-20 md:px-12 px-8 mb-8">
				<!-- Social | Logo -->
				<div class="flex flex-col md:items-center items-start gap-3">
					<img src="/static/logoCus.png" alt="Xenesis" class="lg:w-[140px] w-[110px]" />
					<p class="lg:max-w-[200px] md:max-w-[140px] md:text-center text-gray-300">Epic Events organized for ultimate students!</p>
				</div>
				<!-- Useful Links -->
				<div class="pt-4">
					<h3 class="font-bold text-white lg:text-xl sm:text-[1.05rem] mb-4 pb-2 relative after:content-&quot;&quot; after:absolute lg:after:left-0 after:left-0 after:bottom-0 md:after:w-[50%] after:w-[100px] after:h-[3px] after:bg-[#9704fe]">Useful Links</h3>
					<div class="flex flex-col text-left text-gray-400 gap-1 lg:text-base text-sm">
						<a href="" class="hover:translate-x-2 hover:text-[#bc85ff] transition-all duration-300">Home</a>
						<a href="" class="hover:translate-x-2 hover:text-[#bc85ff] transition-all duration-300">Events</a>
						<a href="" class="hover:translate-x-2 hover:text-[#bc85ff] transition-all duration-300">About Us</a>
						<a href="" class="hover:translate-x-2 hover:text-[#bc85ff] transition-all duration-300">FAQs</a>
					</div>
				</div>
				<!-- Join Us -->
				<div class="pt-4">
					<h3 class="font-bold text-white lg:text-xl sm:text-[1.05rem] mb-4 pb-2 relative after:content-&quot;&quot; after:absolute after:left-0 after:bottom-0 md:after:w-[50%] after:w-[100px] after:h-[3px] after:bg-[#9704fe]">Contact Us</h3>
					<div class="flex flex-col text-left gap-2 text-gray-400 lg:text-base text-sm">
						<div class="flex flex-col group cursor-pointer">
							<p class="text-[#9740fe]">Join Us:</p>
							<a href="mailto:xenesis@ldrp.ac.in" class="text-gray-300 text-sm group-hover:translate-x-2 transition-all duration-300">xenesis@ldrp.ac.in</a>
						</div>
						<div class="flex flex-col group cursor-pointer">
							<p class="text-[#9740fe]">Phone:</p>
							<a href="tel:7863085614" class="text-gray-300 text-sm group-hover:translate-x-2 transition-all duration-300">+91 786 308 5614</a>
						</div>
					</div>
				</div>
				<!-- Social Links -->
				<div class="md:pt-4 sm:pt-3 pt-4">
					<h3 class="font-bold text-white lg:text-xl sm:text-[1.05rem] mb-5 pb-2 relative after:content-&quot;&quot; after:absolute after:left-0 after:bottom-0 md:after:w-[50%] after:w-[100px] after:h-[3px] after:bg-[#9704fe]">Social Links</h3>
					<p class="lg:max-w-[250px] md:max-w-[200px] text-gray-300">Get in touch! Find us on any platform.</p>
					<div class="flex items-center justify-start lg:gap-5 gap-4 md:mt-4 mt-2">
						<a href="https://www.facebook.com/xenesisldrp/" class="text-gray-400 lg:text-xl md:text-lg text-base hover:-translate-y-1.5 hover:text-[#9740fe] transition-all duration-300"><i class="bi bi-facebook"></i></a>
						<a href="" class="text-gray-400 lg:text-xl md:text-lg text-base hover:-translate-y-1.5 hover:text-[#9740fe] transition-all duration-300"><i class="bi bi-twitter"></i></a>
						<a href="" class="text-gray-400 lg:text-xl md:text-lg text-base hover:-translate-y-1.5 hover:text-[#9740fe] transition-all duration-300"><i class="bi bi-instagram"></i></a>
						<a href="" class="text-gray-400 lg:text-xl md:text-lg text-base hover:-translate-y-1.5 hover:text-[#9740fe] transition-all duration-300"><i class="bi bi-youtube"></i></a>
					</div>
				</div>
			</div>
			<!-- Copyrights -->
			<div class="bg-[#211e60] bg-opacity-20 md:w-fit w-full md:px-24 px-8 md:pr-36 mb-0 clip-copyrights text-gray-300 font-semibold py-8 md:text-xl text-md">&copy; 2023 Xenesis All Rights Registered</div>
		</footer>

		<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
		<script>
			function Search(element) {
				let events = document.getElementsByClassName("event");
				let query = document.getElementById("search").value.toLowerCase();
				for (let i = 0; i < events.length; i++) {
					console.log(i);
					const event = events[i];
					const eventId = event.getAttribute("data-event").toLowerCase();
					if (!eventId.includes(query)) {
						event.classList.add("hidden");
					} else {
						event.classList.remove("hidden");
					}
				}
			}
			function faqUpdater(element, id) {
				let faqArr = document.getElementsByClassName("faq");
				for (let faq = 0; faq < faqArr.length; faq++) {
					const elementfaq = faqArr[faq];
					if (elementfaq.getElementsByTagName("button")[0] != element) {
						elementfaq.getElementsByTagName("div")[0].classList.add("scale-y-0");
						elementfaq.getElementsByTagName("div")[0].classList.add("h-0");
						elementfaq.getElementsByTagName("div")[0].classList.remove("scale-y-100");
					} else {
						elementfaq.getElementsByTagName("div")[0].classList.remove("scale-y-0");
						elementfaq.getElementsByTagName("div")[0].classList.remove("h-0");
						elementfaq.getElementsByTagName("div")[0].classList.add("scale-y-100");
					}
				}
				document.getElementById(id + "Content").scrollIntoView({ behavior: "smooth", block: "center", inline: "nearest" });
			}

			var swiper = new Swiper(".mySwiper", {
				navigation: {
					nextEl: ".swiper-button-next",
					prevEl: ".swiper-button-prev",
				},
			});
		</script>
		<script src="/static/js/eventCardEffects.js"></script>
		<script src="/static/js/eventSlider.js"></script>
		<script src="/static/js/header.js"></script>

		<script id="vs" type="f">
			attribute vec2 position;
			attribute vec2 texcoord;

			uniform mat3 u_matrix;

			varying vec2 v_texcoord;

			void main() {
			      gl_Position = vec4(u_matrix * vec3(position, 1), 1);
			      v_texcoord = texcoord;
			}
		</script>
		<!-- fragment shader -->
		<script id="fs" type="f">
			precision mediump float;

			uniform vec2 u_mouse;

			uniform sampler2D u_originalImage;
			uniform sampler2D u_mapImage;

			varying vec2 v_texcoord;

			void main() {
			      vec4 depthDistortion = texture2D(u_mapImage, v_texcoord);
			      float parallaxMult = depthDistortion.r;

			      vec2 parallax = (u_mouse) * parallaxMult;

			      vec4 original = texture2D(u_originalImage, (v_texcoord + parallax));
			      gl_FragColor = original;
			}
		</script>
		<!-- partial -->
		<script src="https://cdn.rawgit.com/greggman/twgl.js/master/dist/4.x/twgl-full.min.js"></script>
		<script src="https://webglfundamentals.org/webgl/resources/m3.js"></script>
		<script>
			function main(id, sourceImage, depthMap, parallaxSpeed) {
				// Get A WebGL context
				/** @type {HTMLCanvasElement} */
				const canvas = document.getElementById(id);
				const gl = canvas.getContext("webgl");
				if (!gl) {
					return;
				}

				let originalImage = { width: 0, height: 0 }; // replaced after loading
				const originalTexture = twgl.createTexture(
					gl,
					{
						src: sourceImage,
						crossOrigin: "",
					},
					(err, texture, source) => {
						originalImage = source;
					}
				);

				const mapTexture = twgl.createTexture(gl, {
					src: depthMap,
					crossOrigin: "",
				});

				// compile shaders, link program, lookup location
				const programInfo = twgl.createProgramInfo(gl, ["vs", "fs"]);

				// calls gl.createBuffer, gl.bindBuffer, gl.bufferData for a quad
				const bufferInfo = twgl.primitives.createXYQuadBufferInfo(gl);

				const mouse = [0, 0];
				document.addEventListener("mousemove", (event) => {
					mouse[0] = ((event.clientX / gl.canvas.clientWidth) * 2 - 1) * parallaxSpeed;
					mouse[1] = ((event.clientY / gl.canvas.clientHeight) * 2 - 1) * parallaxSpeed;
				});

				document.addEventListener("touchmove", (event) => {
					mouse[0] = ((event.touches[0].clientX / gl.canvas.clientWidth) * 2 - 1) * parallaxSpeed;
					mouse[1] = ((event.touches[0].clientY / gl.canvas.clientHeight) * 2 - 1) * parallaxSpeed;
				});

				document.addEventListener("touchend", (event) => {
					mouse[0] = 0;
					mouse[1] = 0;
				});

				var nMouse = [0, 0];
				var oMouse = [0, 0];

				requestAnimationFrame(render);

				function render() {
					twgl.resizeCanvasToDisplaySize(gl.canvas);

					gl.viewport(0, 0, gl.canvas.width, gl.canvas.height);

					gl.clearColor(0, 0, 0, 0);
					gl.clear(gl.COLOR_BUFFER_BIT);

					gl.useProgram(programInfo.program);

					// calls gl.bindBuffer, gl.enableVertexAttribArray, gl.vertexAttribPointer
					twgl.setBuffersAndAttributes(gl, programInfo, bufferInfo);

					const canvasAspect = gl.canvas.clientWidth / gl.canvas.clientHeight;
					const imageAspect = originalImage.width / originalImage.height;
					const mat = m3.scaling(imageAspect / canvasAspect, -1);

					nMouse[0] += (mouse[0] - nMouse[0]) * 0.05;
					nMouse[1] += (mouse[1] - nMouse[1]) * 0.05;

					// calls gl.activeTexture, gl.bindTexture, gl.uniformXXX
					twgl.setUniforms(programInfo, {
						u_matrix: mat,
						u_originalImage: originalTexture,
						u_mapImage: mapTexture,
						u_mouse: nMouse,
					});

					// calls gl.drawArrays or gl.drawElements
					twgl.drawBufferInfo(gl, bufferInfo);

					requestAnimationFrame(render);
				}
			}

			main("canvas", "/static/event-images/eventHerolandingPage2.png", "/static/event-images/eventHeroDepthMap.jpeg", -0.03);
		</script>
	</body>
</html>
