* {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    display: none;
}
.eventName {
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

.customScrollbar::-webkit-scrollbar {
    display: none;
}

.radial-gradient-container {
    background: radial-gradient(at top left, #211e60 1%, #240a34 50%);
}

.clip-copyrights {
    clip-path: polygon(0 0, 85% 0%, 100% 100%, 0% 100%);
}

.clip-button {
    clip-path: polygon(0% 0%, 90% 0, 100% 30%, 100% 100%, 0 100%);
}

.discription-truncate {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
}

.title-truncate {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

#navbar {
    -webkit-mask: -webkit-linear-gradient(black, black 70%, transparent 80%);
    -webkit-mask: linear-gradient(black, black 70%, transparent 80%);
}